body {
    background: lavender;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    cursor: pointer;
}

.header {
    background: aquamarine;
}

.title {
    text-align: center;
}

.btn {
    width: 150px;
    height: 50px;
    background: aqua;
    position: absolute;
    left: 45%;
    font-size: 26px;
}

.sorting:hover {
    background: yellow;
}